body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #fff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.link {
  list-style-type: none;
  text-decoration: none;
}

.title-page {
  font-weight: 700;
  color: #2e2f42;
}

.title-text {
  font-weight: 500;
  color: #2e2f42;
}

.text {
  color: #434455;
}
