body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #fff;
  list-style-type: none;
}

.list {
  list-style-type: none;
}

.title-page {
  font-weight: 700;
  color: #2e2f42;
}

.portfolio-title {
  font-weight: 500;
  color: #2e2f42;
}

.portfolio-text {
  font-weight: 400;
  color: #434455;
}
